p.29 ~ <hr>

In [71]:
import pandas as pd
gapDF =pd.read_csv('../../codes/data/gapminder.tsv', sep='\t')
print(gapDF)

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [72]:
gapDF.shape
#shape는 속성.

(1704, 6)

In [73]:
print(gapDF.columns)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [74]:
print(gapDF.dtypes)

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [75]:
print(gapDF.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

In [76]:
print(gapDF.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [77]:
country_gdf = gapDF['country']
print(country_gdf.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [78]:
print(country_gdf.tail())

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [79]:
subset = gapDF[['country', 'continent', 'year']] 
#        데이터프레임[인덱스] 자리에 컬럼리스트를 넣은것.
print(subset)

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

In [80]:
country_gdf = gapDF['country']
#하나만 뽑아내면 시리즈
print(type(country_gdf))

<class 'pandas.core.series.Series'>

In [81]:
country_gdf_list = gapDF[['country']]
print(type(country_gdf_list))
#대괄호에 리스트를 넣어 전달하면 반드시 데이터프레임

<class 'pandas.core.frame.DataFrame'>

In [82]:
print(country_gdf_list)

          country
0     Afghanistan
1     Afghanistan
2     Afghanistan
3     Afghanistan
4     Afghanistan
...           ...
1699     Zimbabwe
1700     Zimbabwe
1701     Zimbabwe
1702     Zimbabwe
1703     Zimbabwe

[1704 rows x 1 columns]

In [83]:
gapDF

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [84]:
print(gapDF.loc[90])
# .loc 메서드는 라벨명, 행인덱스명을 참조한다.
# 따라서 -1이 명시되지 않은 이상 인덱스개념에서의 -1을 사용할 수는 없다.
# 시리즈의 경우 행인덱스를 명명하지 않아 자동으로 int가 배정되므로
# 인덱스와 착각할 수 있다.

country          Bahrain
continent           Asia
year                1982
lifeExp           69.052
pop               377967
gdpPercap    19211.14731
Name: 90, dtype: object

In [85]:
print(gapDF.iloc[90])
# .iloc[] is primarily integer position based (from 0 to length-1 of the axis), but may also be used with a boolean array.
# .iloc[] 는 인트를 받는다. 일반 인덱스처럼 사용 가능.

country          Bahrain
continent           Asia
year                1982
lifeExp           69.052
pop               377967
gdpPercap    19211.14731
Name: 90, dtype: object

In [86]:
print(gapDF.tail(-1))

          country continent  year  lifeExp       pop   gdpPercap
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
5     Afghanistan      Asia  1977   38.438  14880372  786.113360
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1703 rows x 6 columns]

In [87]:
subset_loc = gapDF.loc[0]
subset_iloc = gapDF.iloc[0]
subset_head = gapDF.head(n=1)
print(type(subset_loc))
print(type(subset_head))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [88]:
print(gapDF.loc[[0,99,999]])

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

p44 행 번호로 데이터 추출하기 <hr>

In [89]:
print(gapDF.iloc[:5])

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [90]:
print(gapDF.iloc[-1:-20: -3])

       country continent  year  lifeExp       pop    gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143   469.709298
1700  Zimbabwe    Africa  1992   60.377  10704340   693.420786
1697  Zimbabwe    Africa  1977   57.674   6642107   685.587682
1694  Zimbabwe    Africa  1962   52.358   4277736   527.272182
1691    Zambia    Africa  2007   42.384  11746035  1271.211593
1688    Zambia    Africa  1992   46.100   8381163  1210.884633
1685    Zambia    Africa  1977   51.386   5216550  1588.688299

In [91]:
subset = gapDF.loc[:, ['year','pop']]
# subset = gapDF.loc['year']
#                  : 의 의미  = 행데이터 정보를 주는 것. 
#                   위에서 사용한 loc는 loc[행인덱스명] 이였다는 것을 기억하자
#                   loc[행인덱스명, 열(컬럼명)] 형태가 된 것.
print(type(subset), type(subset_loc))
print(subset)

<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.series.Series'>
      year       pop
0     1952   8425333
1     1957   9240934
2     1962  10267083
3     1967  11537966
4     1972  13079460
...    ...       ...
1699  1987   9216418
1700  1992  10704340
1701  1997  11404948
1702  2002  11926563
1703  2007  12311143

[1704 rows x 2 columns]

In [100]:
subset = gapDF.iloc[:,2:4:-1]
print(subset)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[1704 rows x 0 columns]

In [107]:
# subset = gapDF.iloc[:, ['year','pop']]
# subset = gapDF.iloc[:,[2,4,-1]]
# subset = gapDF.iloc[:,[3,3,3]]
# subset = gapDF.iloc[:,1:5:2]
subset = gapDF.iloc[:,range(3)]
#                  : 의 의미  = 행데이터 정보를 주는 것. loc의 경우와 동일
#                   위에서 사용한 iloc는 iloc[행인덱스] 이였다는 것을 기억하자
#                   iloc[행인덱스, 열인덱스] 형태가 된 것.
#                   range도 가능.
print(type(subset), type(subset_iloc))
print(subset)

<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.series.Series'>
          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

In [115]:
subset_iloc = gapDF.iloc[1:5:2,1:5:2]
subset_loc = gapDF.loc[1:5:2,['continent', 'lifeExp']]
# 행인덱스 자리에도 슬라이싱, 리스트 가능.
# 같은 범위를 입력해도 iloc는 인덱스 개념이므로, 5 미만까지.
#                   loc는  인덱스'명'이므로, 인덱스명이 5인 곳까지 포함.
print(subset_loc)
print(subset_iloc)

  continent  lifeExp
1      Asia   30.332
3      Asia   34.020
5      Asia   38.438
  continent  lifeExp
1      Asia   30.332
3      Asia   34.020